@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "パスワードのリセット";
}

<style>
    .main-container {
        margin: 0 auto 0 auto;
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 900px
    }
</style>

<div class="text-center mb-4 mt-4">
    <h1 class="page-title">@ViewData["Title"]</h1>
    <div class="text-center fs-5 mt-2 px-4 fw-bold">メールアドレスを入力してください</div>
</div>

<div class="main-container mb-5">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-brand">パスワードをリセットする</button>
    </form>
</div>

<link rel="stylesheet" href="~/css/mainPage.css" asp-append-version="true" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
