@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
        ViewData["ShowMenuBar"] = true;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
        ViewData["ShowMenuBar"] = true;
    }
}
<div class="container mt-4 mb-5">
    <div class="text-center mb-4">
        <h1 class="page-title">アカウント設定</h1>
    </div>
	<div>
		<div style="max-width:1000px; margin:auto;">
            <div class="mb-3">
				<partial name="_ManageNav" />
			</div>
			<div>
				<div class="p-4 border rounded bg-light">@RenderBody()</div>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="~/css/mainPage.css" asp-append-version="true" />


@section Scripts {
    @RenderSection("Scripts", required: false)
}
